/*declaring font styles*/
@font-face {
    font-family: aquiline;
    src: url(fonts/AquilineTwo.ttf);
}


@font-face {
    font-family: garamond-tall;
    src: url(fonts/Gar-A-MondTall.ttf);
}


/* pop-up content style for statueMap */
#statueMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 13px;
}
#statueMap .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #ffe8f2 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for museumMap */
#museumMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 13px;
}
#museumMap .leaflet-popup-content-wrapper, #museumMap .leaflet-popup-tip {
    background-color: #f2e8ff !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for romanMap */
#romanMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 13px;
}
#romanMap .leaflet-popup-content-wrapper, #museumMap .leaflet-popup-tip {
    background-color: #f2e8ff !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for movementMap */
#movementMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 13px;
}
#movementMap .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}


.title {
    color: white;
    font-family: aquiline;
}

.title-background {
    background-size: cover;
}

.author {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 100px;
}

#statueMap { 
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#museumMap {
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#romanMap {
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#movementMap {
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}



/*.leaflet-popup-content {
background-color:rgb(231, 238, 244);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
border: none;
padding: 9px;
width: fit-content;
height: fit-content;
position: static;
top: 10%;
left: 10%;
transform: translate(1%, 1%);
}*/
