/*declaring font styles*/
@font-face {
    font-family: aquiline;
    src: url(fonts/AquilineTwo.ttf);
}

@font-face {
    font-family: garamond-tall;
    src: url(fonts/Gar-A-MondTall.ttf);
}

/*.leaflet-popup-content {
background-color:rgb(231, 238, 244);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
border: none;
padding: 9px;
width: fit-content;
height: fit-content;
position: static;
top: 10%;
left: 10%;
transform: translate(1%, 1%);
}*/

/* pop-up content style */
.leaflet-popup-content p { 
    margin: 0.1em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 13px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: #f6cdea !important;
    border-radius: 6px !important;
    opacity: 0.9
}



.title {
    color: white;
    font-family: aquiline;
}

.author {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 100px;
}

#map { 
    height: 600px; 
    width: 100%; 
    display: inline-block; 
}


