
/*declaring font styles*/
@font-face {
    font-family: aquiline;
    src: url(fonts/AquilineTwo.ttf);
}


@font-face {
    font-family: garamond-tall;
    src: url(fonts/Gar-A-MondTall.ttf);
}


/* POP-UP STYLES*/


/* pop-up content style for statueMap */
#statueMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#statueMap .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for romanMap */
#romanMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#romanMap .leaflet-popup-content-wrapper, #museumMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for romanMap */
#venusMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#venusMap .leaflet-popup-content-wrapper, #museumMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for archaicMap */
#archaicMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#archaicMap .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for classicalMap */
#classicalMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#classicalMap .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for athensMap */
#athensMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#athensMap .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for transitionMap */
#transitionMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#transitionMap .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for hellenisticMap */
#hellenisticMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#hellenisticMap .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for museumMap */
#museumMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#museumMap .leaflet-popup-content-wrapper, #museumMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for museumStatuesMap */
#museumStatuesMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#museumStatues .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

/* pop-up content style for movementMap */
#movementMap .leaflet-popup-content p { 
    margin: 0.8em 0; 
    font-family: garamond-tall;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-align: center;
}
#movementMap .leaflet-popup-content-wrapper, #statueMap .leaflet-popup-tip {
    background-color: #f6f6f6 !important;
    border-radius: 6px !important;
    opacity: 0.9
}

#test {
    display:block;
    margin:auto;

}




/* TEXT STYLING */

.title {
    color: white;
    font-family: aquiline;
}

.title-background {
    background-size: cover;
}

.author {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 100px;
}


.header {
    font-size: 45px;
    font-family: aquiline;
    color:white
}

.foreground-item {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(51, 53, 56);
    font-size: 16px;
    
}


.background-transparent {
    background-color: white;
    opacity: 80%;
}

.milos {
    width: 99%;
}

.milos-caption {
    font-size: 12px;
}

.sources {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: rgb(75, 75, 77);
    
}

/*.row {
    font-size: 40px;
}*/


/* creating map containers on screen*/
#blankMap { 
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}
#statueMap { 
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#romanMap {
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#venusMap {
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#archaicMap { 
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#classicalMap { 
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#athensMap { 
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#transitionMap { 
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#hellenisticMap { 
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}

#museumMap {
    height: 100vh; 
    width: 100vw; 
    display: inline-block; 
}

#museumStatuesMap {
    height: 100vh; 
    width: 100vw; 
    display: inline-block; 
}

#movementMap {
    height: 100vh; 
    width: 100%; 
    display: inline-block; 
}


