/*insert style here*/
@font-face {
    font-family: aquiline;
    src: url(fonts/AquilineTwo.ttf);
}

.leaflet-popup-content {
background-color:rgb(231, 238, 244);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
border: none;
padding: 9px;
width: fit-content;
height: fit-content;
position: static;
top: 10%;
left: 10%;
transform: translate(1%, 1%);
}


.title {
    color: white;
    font-family: aquiline;
}

.author {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 100px;
}

#map { 
    height: 600px; 
    width: 100%; 
    display: inline-block; 
}


